on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'
      - 'infection.json.dist'
      - 'psalm.xml'

  push:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'
      - 'infection.json.dist'
      - 'psalm.xml'

name: build

jobs:
  phpunit:
    runs-on: ubuntu-latest

    steps:
      - uses: yiisoft/actions/.github/workflows/phpunit.yml@master
        with:
          extensions: gettext
          os: >-
            ['ubuntu-latest', 'windows-latest']
          php: >-
            ['8.0', '8.1']
